<style>
    .image-bg{
        background-image: url({{ asset('assets/assets/img/montagne.jpg') }});
        display: block;
        margin: auto;
        height: 980px;
    }
    .arrow-down {
        color: chocolate;
        margin-right: 30px;
        border: 1px solid chocolate;
        border-radius: 10px;
        padding: 5px;
        margin-top: 450px;
        font-size: 40px;
        width: 60px;
        font-weight: bold;
        margin-left: 1400px;
    }
    .arrow-down:hover{
        color: white;
        border: 1px solid white;
    }
    .h3-title {
        font-size:70px;
        color:chocolate;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .text-title {
        font-size:30px;
        color:black ;
        text-shadow: 1px 2px 5px white;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    @media (max-height: 900px){
        .image-bg{
            height: 750px;
            background-position: center;
        }
        .arrow-down {
            margin-left: 430px;
        }
    }
    @media (max-width: 500px) {
        .image-bg{
            height: 675px;
            background-position: center center;
        }
        .arrow-down {
            margin-left: 200px;
        }
        .h3-title {
            margin-top: 100px;
            font-size:40px;
        }
        .text-title {
            font-size:20px;
            margin-bottom: 20px;
        }
    }

</style>
<header class="masthead bg-primary text-center text-white image-bg" id="home">
    <div class="container d-flex align-items-center flex-column col-12 py-5">
        <!-- Masthead Subheading-->
        <h3 class="h3-title">
            SnowTricks
            <br>
            <span class="text-title">
                Le snowboard sous toutes ses formes.
            </span>
        </h3>
        <div class="col-12">
            <a class="arrow-down" href="#tricks">
                <i class="fa-solid fa-arrow-down"></i>
            </a>
        </div>
    </div>
</header>