{% extends "base.html.twig" %}
{% block header %}
    {% include "home/header.html.twig" %}
{% endblock %}

{% block body %}
    <body>
        <div id="tricks">
            {% include "tricks/list_tricks.html.twig" %}
        </div>
    </body>
{% endblock %}
