
{% block section %}
    <!-- Portfolio Section-->
   <section class="page-section tricks">
        <div class="row">
            <div class="container" >
                <div class="container" id="ici">
                    <div class="row g-2">
                        <div class="col-3">
                            <div class="p-3 border bg-light">
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">Custom column padding</div>
                        </div>
                    </div>
                </div>

                 <a class="float-end me-5" href="#ici">
                     <i class="fa-solid fa-arrow-up text-black fa-2x"></i>
                 </a>
            </div>
        </div>
   </section>
{% endblock %}