{% extends "base.html.twig" %}

{% block header %}
    <style>
        .header-signIn {
            margin-top: 110px;
            text-align: center;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <div class="header-signIn h2">
        Inscription
    </div>
{% endblock %}
{% block body %}
    <div class="col-6 mx-auto">
        <form method="POST">
            <input type="text" placeholder="Nom" name="username" class="form-control">
            <hr>
            <input type="email" placeholder="Email" name="email" class="form-control">
            <hr>
            <input type="password" placeholder="Mot de passe" name="password" class="form-control">
            <input type="submit" value="S'inscrire" class="form-control mt-lg-5 mb-5">
        </form>
    </div>

{% endblock %}