
{% block section %}
    <!-- Portfolio Section-->
   <section class="page-section tricks mb-4">
       <div class="row">
           <div class="col-7"></div>
           <div class="col-3">
               {% if isConnect %}
                   <a href="{{ path('') }}" class="btn btn-url" >
                       <i class="fa-solid fa-plus"></i>
                       Nouvelle figure
                   </a>
               {% endif %}
           </div>
       </div>
        <div class="row">
            <div class="content" style="height: 200px;overflow: hidden;" >
                <div class="container" id="top">
                    <div class="row g-2">
                        <div class="col-3 content-tricks">
                            <div class="p-3 border bg-light" id="id-figure">
                                Image figure <br>
                                titre figure <br>

                                {% if isConnect %}
                                    <i class="fa-solid fa-pen"></i>
                                    <i class="fa-solid fa-trash"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-lg-5 loadMore">
                <a href="#" id="loadMore" class="btn btn-primary">
                    <i class="icone fa-solid fa-plus"></i>
                    Voir plus
                </a>
                <a class="float-end me-5" href="#top">
                    <i class="fa-solid fa-arrow-up text-black fa-2x"></i>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
<script langage="JavaScript" class="text/javascript">


</script>
